
= render 'intro'

%section
  .container
    %p
      %a.btn.btn-default{:href => 'https://github.com/parti-xyz/bootstrap-bootstrap/issues', :target => '_blank'} 추가하기
    %ul.list-group
      %li.list-group-item test
      %li.list-group-item test
      %li.list-group-item test

