%section
  .container
    .jumbotron
      %h1 Bootstrap
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad modi placeat, illum a accusamus velit ipsam, nostrum aspernatur at neque eius. Obcaecati veniam dolores explicabo voluptate, commodi consequuntur ipsa ratione?